{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-xl mt-1">
        <div class="row gy-5">
            <div class="col-12">
                <div class="home-header">
                    <h1 class="h3">Kalendarz</h1>
                    {% if userGames|length > 0 %}
                        <h2 class="h3"> - Twoje sesje:</h2>
                        <ul class="list-group list-group-horizontal">
                            {% for game in userGames %}
                                <li class="list-group-item">{{ game.name }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>Nie jesteś zapisany do żadnej gry.</p>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 py-5 mb-5 card text-white bg-primary" id="calendar-wrapper">
                {% if is_granted('ROLE_DM') %}
                <div id="gamemaster-calendar">
                {% else %}
                <div id="home-calendar">
                {% endif %}
                    {% include 'partials/calendar.html.twig' with{'showCenterButtons': true, 'activeGames': activeGames} %}
                </div>
            </div>
        </div>
    </div>
{% if is_granted('ROLE_DM') %}
<div class="modal fade" id="cancelSessionModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Potwierdzenie</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        Czy na pewno chcesz odwołać te sesję?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Anuluj
        </button>
        <button type="button" class="btn btn-danger" id="cancelSessionBtn">
          Tak, odwołaj
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="gameTimeModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Czas rozpoczęcia gry</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p>Planujesz rozpocząć sesję o <span id="plannedGameTime"></span>.</p>
        <div class="d-flex justify-content-center align-items-center time-setting">

          <input type="hidden" id="timeSessionId" value="" name="timeSessionId" />

          <div class="text-center starting-time-hours">
            <button class="btn btn-sm btn-outline-light time-hour-up">
              <i class="bi bi-chevron-compact-up"></i>
            </button>
            <input type="number" id="hourInput" class="form-control text-center mt-1 mb-1 hour-input" min="0" max="23" value="19">
            <button class="btn btn-sm btn-outline-light time-hour-down">
              <i class="bi bi-chevron-compact-down"></i>
            </button>
          </div>

          <div class="fs-4">:</div>

          <div class="text-center starting-time-minutes">
            <button class="btn btn-sm btn-outline-light time-minute-up">
              <i class="bi bi-chevron-compact-up"></i>
            </button>
            <input type="number" id="minuteInput" class="form-control text-center mt-1 mb-1 minute-input" min="0" max="59" step="30" value="30">
            <button class="btn btn-sm btn-outline-light time-minute-down">
              <i class="bi bi-chevron-compact-down"></i>
            </button>
          </div>

        </div>
        <div class="d-flex flex-column justify-content-center align-items-center mt-4">
          <div class="text-left">
            <label for="ending-time" class="form-label">Czy dodać godzine zakończenia gry?</label>
            <input type="checkbox" id="addEndingTimeCheckbox" class="form-check-input ms-2" />
          </div>
          <div id="ending-time" class="justify-content-center align-items-center time-setting">
            <div class="text-center ending-time-hours">
              <button class="btn btn-sm btn-outline-light time-hour-up">
                <i class="bi bi-chevron-compact-up"></i>
              </button>
              <input type="number" id="endHourInput" class="form-control text-center mt-1 mb-1 hour-input" min="0" max="23" value="19">
              <button class="btn btn-sm btn-outline-light time-hour-down">
                <i class="bi bi-chevron-compact-down"></i>
              </button>
            </div>

            <div class="fs-4">:</div>

            <div class="text-center ending-time-minutes">
              <button class="btn btn-sm btn-outline-light time-minute-up">
                <i class="bi bi-chevron-compact-up"></i>
              </button>
              <input type="number" id="endMinuteInput" class="form-control text-center mt-1 mb-1 minute-input" min="0" max="59" step="30" value="30">
              <button class="btn btn-sm btn-outline-light time-minute-down">
                <i class="bi bi-chevron-compact-down"></i>
              </button>
            </div>
          </div>
          <div id="ending-time-error" class="text-danger mt-2" style="display:none;">
            Godzina zakończenia nie może być wcześniejsza niż godzina rozpoczęcia.
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Anuluj
        </button>
        <button type="button" class="btn btn-danger" id="saveNewSessionTimeBtn">
          Tak, zapisz
        </button>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
