<div class="calendar-wrapper">
  <div id="calendar-app">
    <div class="calendar-nav">
      <button id="prevMonth">Prev</button>
      <span id="currentMonthLabel"></span>
      <button id="nextMonth">Next</button>
    </div>
    <div id="calendar"></div>
  </div>
</div>