$web-font-path: 'data:text/css;base64,';

$primary-color: #E299FF;
$secondary-color: #4EFFEF;
$bg-primary-color: #5E22BF;
$bg-secondary-color: #7738FF;

$gray-7500: #e9ecec;

$font-default: 19px;

$font-heading: 2.5rem;
$font-title: 2rem;
$font-subtitle: 1.5rem;

$navbar-margin-bottom: 21px;

$table-cell-padding: 0.5rem;

$btn-padding-y-lg: 21px;
$btn-padding-x-lg: 14px;
$btn-padding-y: 15px;
$btn-padding-x: 10px;
$btn-padding-y-sm: 9px;
$btn-padding-x-sm: 6px;